.loginContainer {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.leftSideContent {
  z-index: 5;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5% 0 5% 4% 
}

.signInText {
  font-size: 3.5rem;
  font-weight: bold;
  color: white;
  line-height: 1.2;
}

.adventureText {
  font-size: 3.5rem;
  font-weight: bold; 
  color: #9370DB;
  line-height: 1.2;
}

.logoContainer {
  color: white;
  z-index: 5;
  justify-items: flex-start;
}