/* Login.module.css */
.loginPaper {
  display: flex;
  flex-direction: column;
  height: 90%;
  align-items: center;
  padding: 1.5rem;
  border-radius: 1rem;
  backdrop-filter: blur(0.5px);
  position: relative;
  background-color: rgba(0, 0, 0, 0.1) !important
}

.formTitle {
  margin-bottom: 1.5rem !important;
  color: white;
  font-weight: bold !important;
  text-align: center;
}

.fieldLabel {
  margin-bottom: 0.5rem;
  color: white;
  width: 100%;
  font-weight: 600 !important ;
  text-align: left;
}

.formContainer {
  width: 100%;
}

.customTextField {
  margin-bottom: 1.5rem !important;
}

.customTextField :global(.MuiInputBase-input) {
  color: white;
  height: 10px;
}

.customTextField :global(.MuiFilledInput-root) {
  border-bottom: none;
  color: white;
  /* background-color: #f0f0f086;  */
}

.continueButton {
  margin-top: 20px;
  margin-bottom: 1rem;
  padding: 0.75rem 0;
  background: linear-gradient(45deg, #3E70A1 30%, #501794 90%);
  border-radius: 0.5rem;
  font-size: 1rem !important;
  text-transform: none  !important;
}

.continueButton:hover {
  background: linear-gradient(45deg, #501794 30%, #3E70A1 90%);
}

.loginLink {
  text-align: center;
  color: white;
}

.loginHereLink {
  color: white;
  font-weight: bold;
  margin-left: 0.5rem;
}

.termsText {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.8rem;
  color: rgba(255,255,255,0.7);
}