.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 1.5%;
  background-color: #f4f4f4;
}

.leftContainer {
  width: 70%;
  margin-right: 1.5%;
}

.rightContainer {
  width: 30%;
}

.formContainer {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.bgImg {
  width: 100%;
  aspect-ratio: 3/1;
  object-fit: cover;
}
.imgCtn {
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  width: 20%;
  aspect-ratio: 1/1;
}
.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contentCtn {
  padding: 2%;
  margin-top: -12%;
}

.companyImg {
  background-color: white;
  border-radius: 10px;
  width: 20%;
  aspect-ratio: 1/1;
  overflow: hidden;
  margin-right: 20px;
  max-width: 100px;
}

.userName {
  font-size: larger;
  font-weight: 700;
}

.bio {
  font-size: medium;
  font-weight: 500;
}

.avaPoint {
  color: #3ea145;
  font-weight: 700;
  background-color: rgba(0, 128, 0, 0.25);
  padding: 10px 20px;
  width: fit-content;
  border-radius: 10px;
}

.containerGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.skillContainer {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.gradientBorder {
  position: relative;
  padding: 10px;
  background: white; /* Nền trắng */
  border-radius: 10px;
  z-index: 1; /* Đảm bảo nằm trên cùng */
}

.gradientBackground {
  position: absolute;
  inset: -0.5px;
  background: linear-gradient(to right, #8a2be2, #3e70a1);
  border-radius: 10px;
  z-index: 0; /* Đảm bảo nằm phía sau phần tử chính */
}
